[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/captainxsj
[access "refs/for/refs/*"]
	read = group user/captainxsj
	push = group user/captainxsj
	label-Code-Review = -2..+2 group user/captainxsj
	label-Verified = -1..+1 group user/captainxsj
	rebase = group user/captainxsj
	removeReviewer = group user/captainxsj
	submit = group user/captainxsj
[access "refs/heads/*"]
	read = group user/captainxsj
	create = group user/captainxsj
	push = +force group user/captainxsj
	pushMerge = group user/captainxsj
[access "refs/tags/*"]
	push = +force group user/captainxsj
	pushTag = group user/captainxsj
	pushSignedTag = group user/captainxsj
